<form (ngSubmit)="enviar(updateForm)" #updateForm="ngForm" autocomplete="off">
  <div class="row m-2">
    <label class="col-3 form-label">Nombre: </label>
    <div class="col-9">
      <input type="text" [(ngModel)]="comprador.nombre" id="nombre" name="nombre" class="form-control" required>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['nombre'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Tipo Documento: </label>
    <div class="col-9">
      <select type="text" [(ngModel)]="comprador.tipo_doc" name="tipo_doc" class="custom-select" required>
        <option value="" selected>Elije un Documento</option>
        <option value="01">DNI</option>
        <option value="06">RUC</option>
        <option value="04">CARNET DE EXTRANJERIA</option>
      </select>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['tipo_doc'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Numero Documento: </label>
    <div class="col-9">
      <input type="number" [(ngModel)]="comprador.num_doc" name="num_doc" class="form-control" required>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['num_doc'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Telefono: </label>
    <div class="col-9">
      <input type="number" [(ngModel)]="comprador.telefono" name="telefono" class="form-control" required>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['telefono'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Fecha de vencimiento: </label>
    <div class="col-9">
      <input type="datetime-local" [(ngModel)]="comprador.fecha_vencimiento" name="fecha_vencimiento" class="form-control" required>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['fecha_vencimiento'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Correo: </label>
    <div class="col-9">
      <input type="email" [(ngModel)]="comprador.correo" name="correo" class="form-control" required>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['correo'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Documento: </label>
    <div class="col-9">
      <input type="text" [(ngModel)]="comprador.documento" name="documento" class="form-control" required>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['documento'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Local: </label>
    <div class="col-9">
      <select type="text" [(ngModel)]="local" name="local" class="custom-select" required>
        <option value="" >Elije un Local</option>
        <option  [value]="item.id"  *ngFor="let item of locales">{{item.descripcion}}</option>
      </select>
      <span style="color: red;" *ngIf="updateForm.submitted&&updateForm.controls['local'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Descripción: </label>
    <div class="col-9">
      <input type="text" [(ngModel)]="comprador.descripcion" name="descripcion" class="form-control">
    </div>
  </div>
  <div class="row m-2">
    <label class="col-3 form-label">Mostrar: </label>
    <div class="col-9">
      <div class="row ml-4 mb-2">
        <div class="col-4 custom-control custom-radio">
          <input [(ngModel)]="comprador.montoTexto" class="custom-control-input custom-control-input-success" value="monto" type="radio" id="customRadio4"
            name="montoTexto" checked>
          <label for="customRadio4" class="custom-control-label">Monto</label>
        </div>
        <div class="col-8 custom-control custom-radio">
          <input [(ngModel)]="comprador.montoTexto" class="custom-control-input custom-control-input-primary" value="producto" type="radio" id="customRadio2"
            name="montoTexto">
          <label for="customRadio2" class="custom-control-label">Descripción</label>
        </div>
      </div>
    </div>
  </div>
  <!-- radio -->

  <div class="text-center"><button type="submit" class="btn btn-primary">Aceptar</button></div>
</form>
