    <!-- Main content -->
    <section>
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-5">
           <app-carousel></app-carousel>
            </div>
           <div class="col-12 col-sm-7">
            <div class="col">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">GiftCards</li>
              </ol>
              <div class="card-body">
                <h3>Crear Gift Cards</h3>
                <p>Establece un importe</p>
                <div class="row">
                  <button (click)="setMonto(200)" id="btn200" class="btn btn-light monto-color" style="width: 90px;">S/200.00</button>
                  <button (click)="setMonto(100)" id="btn100" #btn100 class="btn btn-light monto-color" style="width: 90px;">S/100.00</button>
                  <button (click)="setMonto(50)"  id="btn50" #btn50 class="btn btn-light monto-color" style="width: 90px;">S/50.00</button>
                  <button (click)="setMonto(20)"  id="btn20" #btn20 class="btn btn-light monto-color" style="width: 90px;">S/20.00</button>
                  <input (click)="inputClass()" (keydown)="inputClass()" [(ngModel)]="importe" type="number" style="width: 90px;" class="form-control mr-1">
                  <div style="max-width: 60px;padding-top: 5px;">Cant.</div>
                  <select id="cantidad_select" [(ngModel)]="cantidad" name="cantidad" class="form-select form-select-sm" style="width: 54px;">
                    <option value="{{i}}" *ngFor="let i of numbers">{{i}}</option>
                  </select>
                </div>
                <h3 class="ml-3 mt-2">Comprador</h3>
                <hr>
                <app-comprador-form (form)="enviarForm($event)"></app-comprador-form>
              </div>
            </div>
           </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->



