<app-header></app-header>
<div class="col-12 text-center mt-3 mb-2">
  <button class="btn btn-success btn-block" style="max-width: 1500px;" (click)="ejecutarPdf()">Download PDF</button>
</div>
<div class="row">
  <div class="col-md-3 col-sm-3" id="HtmlData{{item.id}}" *ngFor="let item of prueba">
    <div class="card card-widget widget-user-2">
      <div class="widget-user-header bg-dark">
        <div class="widget-user-image">
          <img class="img-circle elevation-1" style="height: 60px;" src="../../../../../assets/dist/img/longhorn.png"
            alt="User Avatar">
        </div>
        <h4 class="widget-user-username" style="font-weight: bold;">Gift Card </h4>
        <h5 class="widget-user-desc" style="color: red ;font: small-caps 100%/100% serif;font-size: 25px;">LongHorn</h5>
      </div>
      <div class="card-footer p-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link">
              Codigo <span class="float-right badge bg-info">{{item.serie}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Fecha vcto <span class="float-right">31/08/2022</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Monto <span class="float-right" style="font-weight: bold;">S/{{item.monto|number:'1.2'}}</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="item.descripcion">
            <a class="nav-link  text-center">
              <span class="badge bg-light">{{item.descripcion|uppercase}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-3 col-sm-3" id="contenido" #contenido>
    <div class="card card-widget widget-user-2">
      <div class="widget-user-header bg-dark">
        <div class="widget-user-image">
          <img class="img-circle elevation-1" style="height: 60px;" src="../../../../../assets/dist/img/longhorn.png"
            alt="User Avatar">
        </div>
        <h5 class="widget-user-desc" style="color: red ;font: small-caps 100%/100% serif;font-size: 25px;">LongHorn</h5>
        <h3><span class="float-right" style="font-weight: bold;">S/.100.00</span></h3>
      </div>
      <div class="card-footer p-4">
        <ul class="nav flex-column">
          <li class="nav-item">
           <h4 class="text-center">Gift Card</h4>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Codigo <span class="float-right badge bg-info">LH23@GH2022</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Fecha vcto <span class="float-right">31/08/2022</span>
            </a>
          </li>
          <li class="nav-item text-center">
            <a href="#" class="nav-link">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-whatsapp"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
