<app-header></app-header>
<div class="col text-center mt-3 mb-2">
  <button class="btn btn-success" (click)="ejecutarPdf()">Download PDF</button>
</div>
<div class="contenedor" [ngClass]="{'filtro': item.estado == 2}" id="HtmlData{{item.id}}" *ngFor="let item of prueba">
  <img src="../../../../../assets/dist/img/demo.jpg" alt="Texto de la imagen">
  <div class="monto"><p style="color: white;">120.00</p></div>
  <div class="codigo">{{item.serie}}</div>
  <div class="qr">
    <qrcode [qrdata]="item.serie" [width]="180" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
  <div class="vence">
    <p><a style="opacity: 0.8;">Vence:</a>{{item.fecha_vencimiento|date:'shortDate'}}</p>
  </div>
</div>

